.env
.cache
node_modules
_site
package-lock.json
serverless/edge/**
!serverless/edge/index.js
!serverless/edge/s3.js
!serverless/edge/auth-before.js
!serverless/edge/auth-callback.js
!serverless/edge/util/
!serverless/edge/util/**
.serverless
.DS_Store
